@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Work+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    padding-top: 70px;
    -webkit-font-smoothing: antialiased;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
}
nav .navbar {
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
nav .navbar .nav-links{
    height: 100%;
    line-height: 70px;
}
nav .navbar .nav-links #career:hover,
nav .navbar .nav-links #departments:hover{
    color: rgb(0,184,179);
}
nav .navbar .logo {
    cursor: pointer; 
}
nav .navbar .nav-links .links{
    display: flex;
}
nav .navbar .nav-links .links li {
    list-style: none;
}
nav .navbar .nav-links .links{
    width: 400px;
    
}
nav .navbar .nav-links .links li a {
    font-family: roboto,arial,sans-serif;
    text-decoration: none;
    justify-content: space-between;
    display: block;
    width:90px;
    justify-items: left ;   
    font-size: 15px;

}
#about{
   color: rgb(0,184,179);
}
#career{
    color: #ababab;  
} 

#departments{
    color: #ababab;
}

.navbar .nav-links .links .sub-menu li a{
    color:#ababab;
    font-size: 15px;
    width: 200px;

    transform: none;
    outline: rgb(171, 171, 171) dashed 0px;
    box-sizing: border-box;
    line-height: 35px;
}
.navbar .nav-links .links .sub-menu{
    display: none;
    
    background: #fff;
}
.navbar .nav-links .links li:hover .sub-menu{
    display: block; 
    box-shadow: 5px 5px 5px #cbc7c7;
    
}
.navbar .nav-links .links .sub-menu li a:hover {
    color: rgb(0,184,179);
  background: rgb(246 ,248,248);
  
}
.img{
   height: 39px;
   width: 40px; 
   position: relative;
   top: 20px;
   right: 100px;
   left: 750px;
   max-width: 100%;
   display: block;
   margin-bottom:40px;

}
main .content h2 {
text-align: center;
display: flex;
font-family:"work sans",Arial, sans-serif ;
color: #00b39b;
line-height: 44.2px;
font-weight: 300;
font-size: 34px;
padding-top: 10px;
margin-left: 400px;
}
main .text {
    text-align: center;
    
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}
main .text .para1 {
   
    font-family: "roboto",arial,sans-serif;
    width: 470px;
    margin-left: 250px;
    line-height: 30px;
    color: #747474;
text-align: justify;
}
main .text .para2{
    
    width: 450px;
    margin-right: 330px;
    line-height: 30px;
    font-family: "roboto",arial,sans-serif;
    color: #747474;
    text-align: justify;
}
.box{
    display: flex;
    justify-content: space-between;
    
    padding: 50px;
    margin: 40px 250px 0px 250px;
    height: auto;  
}

.box i{
  
    font-size: 20px;
    line-height: 21px;
    color: #fff;
    height: 25px;
    width: 25px;
}
.box h2{
  
  font-size: 21px;
  line-height: 30px;
  color:#fff ;
  font-family:"work sans",Arial, sans-serif;
  margin: 0px 0px 0px 0px;
  font-weight: 400;
}
.box p {
   
    font-family: "work sans",arial,sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: rgb(255, 255, 255);
    margin: 0px 0px 25px 0px;
}
.box1{
    background: #1ad1b9;
    width: 290px;
    height: 340px;
    padding: 32px 32px 0 32px;
    box-sizing: border-box;
    border-radius: 10px;
}
.box1:hover{background-color: #ababab;}
 .box2{
    background:#3d83df;
    width: 290px;
    height: 340px;
   padding: 32px 32px 0 32px;
   box-sizing: border-box;
   border-radius: 10px;
}
.box2:hover{background-color: #ababab;}
 .box3{
    background:#323d49;
    width: 290px;
    height: 340px;
   padding: 32px 32px 0 32px;
   box-sizing: border-box;
   border-radius: 10px;
}
.box3:hover{background-color: #ababab;}
select {
    font-family: "roboto", arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   background: none;
   color: #fff;
    border: none;
    text-decoration: underline;
    
}
select:hover{
    background: #fff;
    color: black;  
}
section {
    margin: 0px 300px 40px 300px;
    display: flex;
    font-weight: 30px;
    height: 100px;
}
section h1 {
  color: #00b39b;
  font-family: "work sans",arial,sans-serif;  
  font-weight: 300;
}
section .listLogo{
    
    list-style: none;
    width: 650px;     
}
.list1 {
    
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 20px 50px;
}
.list2 {
    
    display: flex;
    justify-content: space-between;
    margin: 0px 40px 0px 50px;
}
section ul svg {
    width: 100px;      
}
#ahmed{
    width: 75px;
}
#salim{
    width: 40px;
}
#khaled{
    width: 180px;
    padding-top: 10px;
}
section ul img{
    width: 60px;
}
.partie3{
    height: 600px;
    background: #daf7f7;
    display: flex;
}
.text1 {
    margin: 70px 40px 40px 200px;
    font-family: "work sans",arial,sans-serif;
    color: #00b39b;
    font-size: 34px;
    font-weight: 300;
    line-height: 43px;
    height: 88px;
    width: 477px;
}
.text2{
   
    font-family: "roboto",arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #747474;
    height: 48px;
    width: 415px;
    margin: 0px 50px 40px 200px;
}
.img1{
    
    width: 500px;
    height: 310px;
    margin-left: 150px;
}
.boxe1{
   background: #ffffff;
    height: 250px;
    width: 229px;
    padding: 15px 15px 15px 15px;  
    margin-top: 60px;
    border-radius: 5px;
}
.boxe2{
    background: #ffffff;
     height: 250px;
     width: 229px;
     padding: 15px 15px 15px 15px;  
     margin-top: 40px;
     border-radius: 5px;
     margin-left: 20px;
 }
 .boxe3{
    background: #ffffff;
     height: 250px;
     width: 229px;
     padding: 15px 15px 15px 15px;  
     margin-top: 20px;
     border-radius: 5px;
 }
 .boxe4{
    background: #ffffff;
     height: 250px;
     width: 229px;
     padding: 15px 15px 15px 15px;  
     margin-bottom: 100px;
     border-radius: 5px;
     margin-left: 20px;
     
 }
.partieb h3 {
font-family: "work sans",arial,sans-serif;
font-size: 24px;
font-weight: 300;
text-align: center;
color: #00b39b;
}
.partieb p{
   font-family: "roboto",arial,sans-serif;
   font-size: 13px;
   line-height: 17px;
   color: #747474; 
   margin-top: 20px;
   text-align: center;
}
#img1  {
    
    font-size: 13px;
    margin-left: 80px;
    margin-bottom: 20px;
    height: 40px;
    width: 35px;
}
#img2{
   margin-top: 20px;
    font-size: 13px;
    margin-left: 80px;
    margin-bottom: 20px;
    height: 40px;
    width: 35px;
}
#img3{
    margin-top: 40px;
    font-size: 13px;
    margin-left: 80px;
    margin-bottom: 20px;
    height: 35px;
    width: 35px;
}
#img4{
    font-size: 13px;
    margin-left: 80px;
    margin-bottom: 20px;
    height: 40px;
    width: 35px;
}
.amin2{ 
    display: flex;
}
.amin3{  
    display: flex;
}
.partie4{
    margin-top: 80px;
    width: 600px;
    height: 130px;
}
.partie4 h2{

font-family: "work sans",arial,sans-serif;
font-size: 30px;
font-weight: 300;
color: #00b39b;
line-height: 39px;
height: 77px;
width: 460px;
text-align: center;
margin-left: 550px;
margin-bottom: 40px;
}
.partie4 p{
  font-family: "roboto",arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #747474;
  height: 72px;
  width: 460px;  
  margin-left: 550px;
  margin-bottom: 100px;
}
.partie5 {
    margin-top: 150px;
}
.col1{
    height: 370px;
    width: 332px;
    padding: 10px 10px 10px 10px;
}
.col1:hover{
    box-shadow: 0 5px 10px 0 #d3cfc9;
}
.col2{
    height: 370px;
    width: 332px;
    padding: 10px 10px 10px 10px;
}
.col2:hover{
    box-shadow: 0 5px 10px 0 #d3cfc9;
}
.col3{
    height: 370px;
    width: 332px;
    padding: 10px 10px 10px 10px;
}
.col3:hover{
    box-shadow: 0 5px 10px 0 #d3cfc9;
}
.col4{
    height: 370px;
    width: 332px;
    padding: 10px 10px 10px 10px;
}
.col4:hover{
    box-shadow: 0 5px 10px 0 #d3cfc9;
}
.col5{
    height: 370px;
    width: 332px;
    padding: 10px 10px 10px 10px;
}
.col5:hover{
    box-shadow: 0 5px 10px 0 #d3cfc9;
}
.col6{
    height: 370px;
    width: 332px;
    padding: 10px 10px 10px 10px;
}
.col6:hover{
    box-shadow: 0 5px 10px 0 #d3cfc9;
}
.col7{
    height: 370px;
    width: 332px;
    padding: 10px 10px 10px 10px;
}
.col7:hover{
    box-shadow: 0 5px 10px 0 #d3cfc9;
}
.partie5 h2{
    font-family: "roboto",arial,sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #747474;
    height: 70px;
    width: 310px;
    padding-top: 20px;
    padding-left: 20px;
}
.warsaw {
display: flex;
}
.barcelona{
    display: flex;
}
.istanbul{
    display: flex;
}
.rome{
    display: flex;
}
.bologna{
    display: flex;
}
.curitiba{
    display: flex;
}
.mexico{
    display: flex;
}
.partie5 input{
background: transparent;
  border-radius: 4px;
  float: right;
  font-weight: bold;
  font-size: 10px;
  width: 110px;
  height: 32px;
  background-color: #3d83df;
  color: white;
  border-color: white;
  border-style: solid;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "roboto",arial,sans-serif;
  margin-top: 20px;
    margin-right: 40px;
    padding: 10px 10px 10px 10px;
}
.partie5 input:hover{
    background-color: #3d93df;
}
.ligne1 {
    display: flex;
    margin-left: 300px;
}
.ligne2{
    display: flex;
    margin-left: 300px;
}
.ligne3{
    margin-left: 300px;
}
.partie6{
    
    
}
.partie6 h2{
    font-family: "work sans",arial,sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 39px;
    color: #333333;
    height: 39px;
    width: 520px;
    text-align: center;
    margin: 50px 0px 20px 550px;
}
.partie6 input{
  font-family: "roboro",arial,sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  height: 40px;
  width: 211px;
  padding: 14px 14px 14px 14px;
  cursor: pointer; 
  background-color: #3d83d7; 
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  margin-left: 700px; 
  border-color: white;
  border-style: solid;
  margin-bottom: 50px;
}
.partie6 input:hover{
    background-color: #3d93df;
} 
.first {
  
    font-family: "roboto",arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    height: 15.2px;
    width: 975px;
    margin-left: 350px;
}
.first a {
   
    color:#3d83df ;
}
.second{
    font-family: "roboto",arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    height: 15.2px;
    width: 975px;
    margin-left: 350px;
    margin-top: 20px;
    margin-bottom: 40px;
}

